In [4]:
import pandas as pd
import numpy as np
import requests 
import json
import sqlite3
conn = sqlite3.connect('mydatabase')

bikedf=pd.read_sql('select * from bike_stations', conn)  ## retrieve our station data from the database

In [2]:
bikedf

     Station_Number   Latitude  Longitude  Free Bikes
0                 0  43.665269 -79.319796           9
1                 1  43.671420 -79.445947           6
2                 2  43.666224 -79.317693          17
3                 3  43.653236 -79.376716           3
4                 4  43.663722 -79.380288           3
..              ...        ...        ...         ...
725             725  43.706191 -79.532628           5
726             726  43.687355 -79.506233           1
727             727  43.691445 -79.501546           1
728             728  43.706738 -79.504775           1
729             729  43.664491 -79.399434           0

[730 rows x 4 columns]

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [5]:
def get_venues_fs(latitude, longitude):   ## This function will get the total amount of nearby businesses from foursquare when we pass it the latitude and longitude from our bike stations
        url = "https://api.foursquare.com/v3/places/search"

        params = {
        	
        	"ll": f"{latitude},{longitude}",
        	"radius" : 500,  ## 1000m was giving way too many results so i lowered it
        	"sort":"DISTANCE",
            "limit": 50
         }

        headers = {
            "Accept": "application/json",
            "Authorization": 'fsq3Vg8R+nRG0xUTTP548kDn+wz2r/idX7X+owK8lUMVTXo='  ## This should be an environment variable if it was more important
        }

        response = requests.request("GET", url, params=params, headers=headers)
        
  
        return response
pass

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [20]:

foursquare_results = pd.DataFrame(columns=['Nearest_Station', 'Foursquare_Results'])


for station in bikedf['Station_Number']:  ## this will use our foursquare api function once for every bike station to get the number of nearby businesses 

        res = get_venues_fs(latitude=bikedf.iloc[station]['Latitude'], longitude=bikedf.iloc[station]['Longitude'] )
        rd = res.json()
        new_row = pd.DataFrame( {'Nearest_Station': [station] ,'Foursquare_Results': len(rd['results'] )}  )
        foursquare_results= pd.concat([foursquare_results, new_row], ignore_index=True)

In [21]:
foursquare_results

    Nearest_Station Foursquare_Results
0                 0                 11
1                 1                  5
2                 2                 12
3                 3                 36
4                 4                 22
..              ...                ...
725             725                  6
726             726                  6
727             727                  3
728             728                 19
729             729                 15

[730 rows x 2 columns]

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [3]:
def get_venues_yelp(latitude, longitude):  ## This function will get the total amount of nearby businesses from yelp when we pass it the latitude and longitude from our bike stations
        url = 'https://api.yelp.com/v3/businesses/search'

        params = {
        	'radius' : 500,
            'latitude': latitude,
            'longitude': longitude,
            'limit': 50
        	
         }

        headers = {
           
            "Authorization": 'Bearer 9Z_Q3JGkL_JlOoSXX6Li6II3aUBRnmIIsjO8PMzVdlpgU3i1MlMZsGgEjDkcTF5wJ9aIoj3yuEa7evsac7ocDb_WW-r6Xdr5FUM2HTLt4PIzsjeVU5-gAB8PrW4yZXYx'
        }

        response = requests.request("GET", url, params=params, headers=headers)
        return response
pass

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [ ]:
i=0
yelp_results = pd.DataFrame(columns=['Nearest_Station', 'Yelp_Results'])

while i < 100:  ## this will count how many POIs are near each bike station, Limited to 100 because of the yelp API limitations

        res = get_venues_yelp(latitude=bikedf.iloc[i]['Latitude'], longitude=bikedf.iloc[i]['Longitude'] )
        rd = res.json()
        new_row = pd.DataFrame( {'Nearest_Station': [bikedf.iloc[i]['Station_Number']] ,'Yelp_Results': rd['total'] }  )
        yelp_results= pd.concat([yelp_results, new_row], ignore_index=True)
        
        i=i+1

In [36]:
import sqlite3
conn = sqlite3.connect('mydatabase')
yelp_results.to_sql('yelp', conn, if_exists='replace', index=False)
foursquare_results.to_sql('foursquare', conn, if_exists='replace', index=False)
## Here we save both our new tables to the sql database for later

730

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

I found that the  yelp results have more details, more results, and are easier to read than the foursquare results.

Get the top 10 restaurants according to their rating

In [5]:
ratingsdf = pd.DataFrame(columns = ["Name" ,"Rating"])    ## new dataframe to put the name and ratings in

In [10]:
import pandas as pd
ratings_data = {'Name': [], 'Rating': [],'Nearest_Station':[]}  ## temporary dictionary to put the data in




for i in range(1 ,100):  ## we will search only 100 bike stations becuase there are alot of results and yelp api is limited
    res = get_venues_yelp(latitude=bikedf.iloc[i]['Latitude'], longitude=bikedf.iloc[i]['Longitude'] )
    rd = res.json()
    z=0


    while z < min(rd['total'], len(rd['businesses'])):   ## i represents each bike station, and z gos through each business nearby, getting only name and rating
        ratings_data['Name'].append(rd['businesses'][z]['alias'])
        ratings_data['Rating'].append(rd['businesses'][z]['rating'])
        ratings_data['Nearest_Station'].append(bikedf.iloc[i]["Station_Number"])
        z=z+1

## [total] in the yelp api is the number of results returned
## the while loop will go through the returned json (rd) and put the data into the ratings_data dictionary

In [11]:
ratingsdf = pd.DataFrame(ratings_data)  ## we change the dictionary to dataframe so its easier to work with
ratingsdf.sort_values(by='Rating', ascending=False).head(10)  ## sorted by rating

                                     Name  Rating  Nearest_Station
731              dominos-pizza-toronto-54     5.0             17.0
1486    yelp-helps-with-mealshare-toronto     5.0             34.0
2196  mana-pool-board-game-bistro-toronto     5.0             50.0
2195                 k-sweets-tea-toronto     5.0             50.0
979                  hakka-bistro-toronto     5.0             23.0
1462         toronto-music-garden-toronto     5.0             34.0
973                         esras-toronto     5.0             23.0
564            haidilao-hot-pot-toronto-2     5.0             14.0
3286                   sunny-cafe-toronto     5.0             78.0
2176           thairoom-college-toronto-4     5.0             49.0

In [12]:
ratingsdf.to_sql('ratings', conn, if_exists='replace', index=False) ## saving it to sql database

4006